<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>netbeans</string>
	<key>CFBundleIconFile</key>
	<string>netbeans.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.sindastra.netbeans-launcher-mac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>netbeans</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Sindastra (for the launcher)</string>
	<key>CFBundleName</key>
	<string>NetBeans</string>
	<key>CFBundleVersion</key>
	<string>0001</string>
	<key>CFBundleShortVersionString</key>
	<string>Build 0001</string>
</dict>
</plist>
